// Color Scheme from: https://overreacted.io/
$background-blue: #282c35;
$modal-blue: #363c48;
$header-pink: #ffa7c4;

// Other colors:
$bisque: bisque;
$terminal-green: #3f0;
$white: #f7f5ef;
$brown-grey: #c5c2b9; //footer

// Fonts:
$header-font: "Roboto Slab";
$body-font: "Roboto";
$code-font: monospace;

// sizes
$subtitle-text: 32px;
$middle-text: 20px;
$body-text: 16px;

// padding
$title-padding: 30px 0px 0px 150px;
