// Colors:
$bisque: bisque;

/* Color Scheme from: https://dribbble.com/shots/3703480-Hampton-Roads */
$dark-blue: #214555;
$white: #f7f5ef;
$brown-grey: #c5c2b9;
$hot-pink: #ec5c7d;
$blue-grey: #c7d7d4;
$purple-grey: #9b828d;
$aqua: #6feed8;

// Fonts:

// sizes

// padding
$title-padding: 30px 0px 0px 150px;
