@import "./_shared.scss";

.about-title {
  border: 1px solid blue;
  text-align: left;
  padding: $title-padding;
}

.main-content {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  justify-content: space-evenly;
}

.face {
  width: 200px;
  border: 1px solid green;
}

.about-info {
  border: 1px solid purple;
  text-align: right;
  width: 500px;
}

.technologies {
  padding: $title-padding;
  text-align: left;
}

.devicons {
  background-color: black;
}
