@import "./_shared.scss";

.about-title {
  text-align: left;
  padding: $title-padding;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.face {
  width: 400px;
}

.about-hello {
  text-align: left;
  font-size: $subtitle-text;
}

.about-info {
  text-align: left;
  width: 500px;
  line-height: 40px;
  font-size: 24px;
}

.about-technologies {
  background-color: black;
  border: 1px solid white;
  font-family: monospace;
  color: $terminal-green;
  margin: 90px 0px;
  width: 900px;
  text-align: left;
  font-size: $middle-text;
  display: inline-block;
}

.terminal-header {
  color: white;
  padding: 10px 0px;
}

.name {
  color: red;
}

.path {
  color: green;
}

.branch {
  color: purple;
}

.devicons {
  display: flex;
  justify-content: space-evenly;
  max-width: 50em;
  padding-bottom: 10px;
}

i {
  font-size: 28px;
}
