@import "./_shared.scss";

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $brown-grey;
  color: black;
  display: flex;
  justify-content: space-between;
}

.butterLogo {
  height: 25px;
  margin-bottom: -8px;
}

.netlifyLogo {
  height: 21px;
  margin-bottom: -4px;
}
