@import "./_shared.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  // background-color: $header-pink; // keeping transparent for now
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo {
  height: 40px;
}

.header-links {
  margin-right: 10px;
}

.link {
  font-size: 24px;
  padding-left: 20px;
}
