@import "./_shared.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: $brown-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.links {
  margin-right: 20px;
}

link {
  padding-left: 200px;
}
