@import "./_shared.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: $brown-grey;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 40px;
}
