@import "./_shared.scss";

body {
  margin: 0; // is this necessary?
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-blue;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: $header-pink;
}

code {
  font-family: monospace;
  color: $terminal-green;
}
