@import "./_shared.scss";

.work-title {
  text-align: left;
  padding: $title-padding;
}

.resume {
  background-color: $header-pink;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 20px;

  a:hover {
    color: $background-blue;
  }
}
